<block name="footer">
   <eq name="langs" value="zh">
     <!-- 底部 -->
   <div class="Last_block">
      <div class="laYt_block1"></div>
      <div class="Last_block1">
         <div class="sn_BON">
            <div class="sn_BON1"><img src="__HS__/img/logo.png" alt=""></div>
            <div class="sn_bon2">公司创办于2008年，专业生产据铝机，<br>
            钢材机为主，愿意优质产品和真诚的<br>
            服务与国内外客户精诚合作！
            </div>
         </div>

         <div class="Site_navigation">
            <div class="sn_bon4">网站导航</div>
            <div class="SN">
               <a href="{:U('index/index')}"><div class="sn_bon5">首页</div></a>
               <a href="{:U('index/products')}"><div class="sn_bon5">产品中心</div></a>
               <a href="{:U('index/about')}"><div class="sn_bon5">关于我们</div></a>
               <a href="{:U('index/news_list')}"><div class="sn_bon5">新闻资讯</div></a>
               <a href="{:U('index/connects')}"><div class="sn_bon5">联系我们</div></a>
            </div>
         </div> 

         <div class="Site_nAvigation">
            <div class="sn_bon6">客户服务热线</div>
            <div class="sn_bon7">+0086-579-87321018</div>
            <div class="SN">
               <div class="sn_bon8">其它联系方式</div>
               <div class="sn_bon9">邮箱：Sales01@snbon.com</div>
               <div class="sn_bon9">传真:+0086-579-87320575</div>
            </div>
         </div>
         <div class="QR_code">
            <div class="qr_code"></div>
         </div>
         <div style="clear:both;"></div> 
      </div>
   </div>

   <!-- 最后 -->
   <div class="Last_bottom">
      <div class="Last_bottom2"> </div>
         <div class="Last_bottom1"><samp style="color:white;">COPYRIGHT @ 永康市盛邦工贸有限公司ALL RIGHTS RESERVED</samp> <samp style="color:#f7a619;">技术支持:BDMA品牌营销联盟</samp></div>
   </div>
</eq>






   <!-- 英文 -->

   <eq name="langs" value="en">
     <!-- 底部 -->
   <div class="Last_block_en">
      <div class="laYt_block1"></div>
      <div class="Last_block1">
         <div class="sn_BON">
            <div class="sn_BON1"><img src="__HS__/img/logo.png" alt=""></div>
            <div class="sn_bon2_en">
                  The Beauty of hi-tech<br> 
                  achievements in quality
            </div>
            <div class="sn_bonen_en">Wish to cooperate with customers<br>
                at home and abroad with high<br>
                 quality products and sincere<br>
                 service!</div>
         </div>

         <div class="Site_navigation_en">
            <div class="sn_bon4">Site navigation</div>
            <div class="SN">
               <a href="{:U('index/index')}"><div class="sn_bon5_en">Home</div></a>
               <a href="{:U('index/products')}"><div class="sn_bon5_en">Product Center</div></a>
               <a href="{:U('index/about')}"><div class="sn_bon5_en">About us</div></a>
               <a href="{:U('index/news_list')}"><div class="sn_bon5_en">News</div></a>
               <a href="{:U('index/connects')}"><div class="sn_bon5_en">Contact us</div></a>
            </div>
         </div> 

         <div class="Site_nAvigation">
            <div class="sn_bon6_en">hotline</div>
            <div class="sn_bon7_en">+0086-579-87321018</div>
            <div class="SN">
               <div class="sn_bon8_en">Contact information</div>
               <div class="sn_bon9_en">mailbox：Sales01@snbon.com</div>
               <div class="sn_bon9_en">fax:+0086-579-87320575</div>
            </div>
         </div>
         <div class="QR_code">
            <div class="qr_code"></div>
         </div>
         <div style="clear:both;"></div> 
      </div>
   </div>

   <!-- 最后 -->
   <div class="Last_bottom_en">
      <div class="Last_bottom2"> </div>
         <div class="Last_bottom1_en"><samp style="color:white;">COPYRIGHT Yongkang Shengbang Industry and Trade Co., Ltd.ALL RIGHTS RESERVED</samp> <samp style="color:#f7a619;">Technical support: BDMA 品牌营销联盟</samp></div>
   </div>
</eq>

</block>
<script>
$(function(){
    $('.nav-btn').on('click', function(){
        console.log(123)
        $('.m-btn-submenu').toggle();
    })
})
</script>
 


