<block name="header">
    <div class="we">
        <div class="demo2"><img src="__HS__/img/top-logo.png"  alt=""></div>
        <div class="demo1">
            <div class="demo"><a href="{:U('index/index')}"><h5>首页</h5></a></div>
            <div class="demo"><a href="{:U('index/about')}"><h5>关于</h5></a></div>
            <div class="demo"><a href="{:U('index/products')}"><h5>产品中心</h5></a></div>
            <div class="demo"><a href="{:U('index/news')}"><h5>新闻资讯</h5></a></div>
            <div class="demo"><a href="{:U('index/video')}"><h5>视频中心</h5></a></div>
            <div class="demo"><a href="{:U('index/contact')}"><h5>联系我们</h5></a></div>
            <div class="demo"><img src="__HS__\img\搜索.png"style="width:40%;" alt=""></div> 
        </div>      
    </div>      
</block>
