@media(max-width: 1023px){
	.wd1024{width: 100%;}
	.gg{display: none;}
	.nav-header .m-btn{display: block;margin: 0px;}
}

@media(max-width: 875px){
	.ku1 .image1{width: 33.3%;}
}
@media(max-width: 675px){
	.ku1 .image1{width: 50%;}
	.ct3{display: none;}
	.big_one{display:none;}
	.endd{display:none}
	.all{width: 100%; padding:20px 0}
	.im img{width:248%; }
	.uou{width: 347px;}
	.thick_ness {line-height: 33px;font-size: 18px;font-weight: 250; }
	.img img{width:96%}
	.submin1{margin: 0 auto}
	.uou{   margin: 0 auto;}
	.gekaikai {margin:0px 0px;}
	.ku11{padding:20px 0px}
	.map-area{padding:0px 0px}
}
@media(max-width: 475px){
	.ku1 .image1{width: 100%;}
}




@media(max-width: 475px){
  .demo23{width: 100%;padding:30px 0;}
}


@media(max-width: 475px){
  .AboutSlot_King{width: 100%;}
}


@media(max-width: 475px){
  .big_two{width: 100%;}
}

@media(max-width: 475px){
  .ru{width: 90%; height:10px; margin: -10px 0px;}
}


@media(max-width: 475px){
  .her{width:70%;}
}


@media(max-width: 475px){
.products .bar0 .photo_frame{width:101%;}
}

@media(max-width: 475px){
.products .bar0 .photo_frame .photo_frame1 img{width:100%;}
}


@media(max-width: 475px){

.Head_Figure{float:none;} 
}


@media(max-width: 475px){
	.Picture_frame{position: relative;top:0px; left:0px;}
}

@media(max-width:475px){

 .bar0{width:100%;padding:0px 0px}
}
@media(max-width:475px){
	.leavea_message{padding:90px 0;}
}


@media(max-width:475px){
	.Head_Figure img{width:100%;}
}

@media(max-width:475px){
.Form_submission1 input { width:260px;}
 }


@media(max-width:475px){
	.prr{margin:0 53px; padding:20px 0;}
}

@media(max-width:475){
	.ppr1{margin:0px 53px;}
}



@media(max-width:475px){
.Form_submission2 input{width:260px;}
}

@media(max-width:475px){
.Form_submission3 input{width:260px;}
}


@media(max-width:475px){
  .Form_submission4 input{width:265px;}
}


@media(max-width:475px){
	.inputt form{padding:7px 2px;}
}

@media(max-width:475px){
.jul{width:0px;height:0px;}
}

@media(max-width:475px){
	.video_im video{ width:110%;text-align:none;}
}

@media(max-width:475px){
	.video_im video{width:81%;}
}


@media(max-width:475px){
	.xu li a{margin:0 7px;}
}

@media(max-width:475px){
	.image_im{float:none; width:100%;}
}


@media(max-width:475px){
     .slmal { margin:0 auto;}
}


/* 鑫润样式 */
@media(max-width:475px){
	.Company img{width:74%;float:none;margin:9px 55px; }
	/* .button_two {margin:0px 0px}
	.bijitu {display:none;} */
	/* .xinrun2{width:419px;} */
	.WY{width:399px;}
	.Wu_Yi{ font-size: 27px;}
	.WY2{font-size: 52px;}
	.WY3{line-height:65px;font-size:44px}
	.Below1{ width:409px;text-indent: 2em;letter-spacing: 1px;font-size: 17px;}
	.Below2{width:409px;text-indent: 2em;letter-spacing: 1px;font-size: 17px;}
	.mai-ite1 img{width:434px;margin: 21px -211px;;}
	.bott_om2{display:none;}
	 .Main-Items{width:0px}
	 ul, ol, li, dl, dd{text-align: center;margin: 19px -3px;}
	 .Form_submission3{margin:0px 0px;}
	 .Form_submission3 input{margin:0px 0px}
	 .jiuo{font-size:10px;}
	 .home{margin:0 17px;}
	 .ppr{margin: 0 68px;padding: 20px 0;}
	 .ppr1 {margin: 0px 65px;}
	 .Company{padding:60px 0;width:351px;}
	 .More-boxes1 {
		width: 0px;margin:0px 0px;padding: 0px 0;}
	}



/* 盛邦样式 */
@media(max-width:475px){
	/* .syt_tr{display: none;} */
	.text-clal{width:350px;}
	.jian_Ji{font-size:3px;    width: 344px;}
	.Company_Profile{width:362px;}
	.text-cla2{width:374px;}
	.tu1 img{width:111%;}
	.Product-font{text-align:left;margin: 0 152px;}
	.wujin1{width:377px;height: 251px;background-color: #e4e4e4;}
	.wujin1 img{float:none;margin:0px 0px; width:96%}
	.shi-j{padding:14px 0;line-height:29px;width: 375px;font-size: 12px;font-weight: 600;}
	.shij{margin:0 23px;}
	/* .shi-J{display: none;} */
	.wujin1_W{width:400px;background-color:white;}
	.Last_block{display: none;}
	.ku1{width:361px;}
	/* .Last_bottom{margin:261px 0} */
	.Last_bottom1{width:375px;line-height:22px;}
	.shij-bix{    font-size: 16px;}
	.xiaode{height: 500px; width:380px;}
	.Last_bottom{width:103%;}
	.News_style2{width: 360px;}
	.News_style{width:360px;}
	.wujin1_W img{margin: 87px -16px;width: 96%;}
	.shi-J{display: none;}
	.More-boxes2{display: none;}
	.xiao_DE{float:none;margin: -62px 0px; width:380px;}
	.button_two{display: none;}
	.nav-menu{display: none;}
	.demo2{display: none;}
	.New_type{font-size: 13px;}
	.Worldwide{font-size:0px;}
	.Font_part {font-size:17px;}
	.slideshow{padding:0px 0px;}
	.xiao_de{width:380px;}
	.Company{width:356px;margin:0px 0px;padding:0px 0px;}

	/* 英语 界面*/
	.wujin1_en img {float: right;/* margin: -35px 10px; */width: 96%;margin: 2px 22px;}
	.wujin1_en {width: 365px;height: 314px;background-color: #e4e4e4;}
	.shij_en {/* text-indent: 0em; */line-height: 3;font-size: 18px;text-transform: uppercase;}
	.shi-j-en {text-indent: 0em;color: #8c8c8c;/* padding: 22px 0; */font-size: 11px;line-height: 28px;text-transform: uppercase;width: 370px;}
	.wujin_WUJJ {padding: 25px 0;}
	.shij_en{    width: 363px;}
	.wujin1_W{   width: 356px;}
	.Last_block_en{display: none;}
	.xiao_de-en{width: 378px;text-transform: uppercase;}
	.wujin{    padding: 32px 10px;}
	.shi-j-enn{font-size:11px; width: 335px;}
	.Last_bottom1_en{width:388px;    line-height: 23px;font-size: 10px;}
	.More-boxes{height:0px;width:0px;}

}