<extend name="Public/base"/>

<block name="content">
<div class="row">
    <div class="col-12">
      <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>修改密码</h2>
          </div>
          <div class="card-body">
            <form action="{:U('changepassword')}" method="POST">
              <div class="form-group">
                <label for="oldpassword">原密码</label>
                <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="原密码">
              </div>
              <div class="form-group">
                <label for="password">新密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="新密码">
              </div>
              <div class="form-group">
                <label for="repassword">重复密码</label>
                <input type="password" class="form-control" id="repassword" name="repassword" placeholder="重复密码">
              </div>
              <button type="submit" class="btn btn-lg btn-primary btn-block mb-4" style="background-color: #03b8cc;width: 200px;">提交</button>
            </form>
          </div>
        </div>
    </div>
</block>
<block name="script">
  <script type="text/javascript">
  highlight_leftmenu('{:U("index")}');
</script>
</block>