<extend name="Public/base"/>

<block name="content">
<div class="row">
    <div class="col-12">
      <!-- Recent Order Table -->
      <div class="card card-table-border-none" id="recent-orders">
        <div class="card-body pt-0 pb-5">
          <table class="table card-table table-responsive table-responsive-large" style="width:100%">
            <thead>
              <tr>
                <th>体重</th>
                <th>BMI</th>
                <th class="d-none d-md-table-cell">脂肪率</th>
                <th class="d-none d-md-table-cell">基础代谢率</th>
                <th class="d-none d-md-table-cell">肌肉率</th>
                <th class="d-none d-md-table-cell">水分率</th>
                <th class="d-none d-md-table-cell">皮下脂肪率</th>
                <th class="d-none d-md-table-cell">蛋白质率</th>
                <th class="d-none d-md-table-cell">内脏脂肪指数</th>
                <th class="d-none d-md-table-cell">标准体重</th>
                <th class="d-none d-md-table-cell">肌肉量</th>
                <th class="d-none d-md-table-cell">水含量</th>
                <th class="d-none d-md-table-cell">蛋白质量</th>
                <th class="d-none d-md-table-cell">体年龄</th>
                <th>身体得分</th>
                <th>身体类型</th>
                <th>称重时间</th>
              </tr>
            </thead>
            <tbody>
                <volist name="_list" id="vo">
                  <tr>
                    <td >{$vo.weighkg}</td>
                    <td >{$vo.bodyquality}</td>
                    <td >{$vo.bodyfatrate}</td>
                    <td class="d-none d-md-table-cell">{$vo.metabolicrate}</td>
                    <td class="d-none d-md-table-cell">{$vo.musclerate}</td>
                    <td class="d-none d-md-table-cell">{$vo.waterrate}</td>
                    <td class="d-none d-md-table-cell">{$vo.subcutaneousfat}</td>
                    <td class="d-none d-md-table-cell">{$vo.proteinrate}</td>
                    <td class="d-none d-md-table-cell">{$vo.visceralfat}</td>
                    <td class="d-none d-md-table-cell">{$vo.idealweightkg}</td>
                    <td class="d-none d-md-table-cell">{$vo.musclemass}</td>
                    <td class="d-none d-md-table-cell">{$vo.watercontent}</td>
                    <td class="d-none d-md-table-cell">{$vo.proteinamount}</td>
                    <td class="d-none d-md-table-cell">{$vo.bodyage}</td>
                    <td class="d-none d-md-table-cell">{$vo.bodyscore}</td>
                    <td class="d-none d-md-table-cell">{$vo.bodytype}</td>
                    <td class="d-none d-md-table-cell">{$vo.uploadtime}</td>
                  </tr>
                </volist>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</block>
<block name="script">
  <script type="text/javascript">
  highlight_leftmenu('{:U("index")}');
</script>
</block>