<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$typename}</h2>
    </div>
    <form action="{:U(Article/proedit)}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips">（标题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data['name']}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">上级菜单<span class="check-tips">（所属的上级菜单）</span></label>
            <div class="controls">
                <select name="pid">
                    <option value="0">无</option>
                    <volist name="categories" id="category">
                        <option value="{$category.id}" <if condition="$data['pid'] eq $category['id']">selected</if>>{$category.title_show}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">是否为英文<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" value="0" name="is_english" <if condition="$data['is_english'] eq 0"> checked="checked"</if>>否
                </label>
                <label class="radio">
                    <input type="radio" value="1" name="is_english"  <if condition="$data['is_english'] eq 1">checked="checked" </if> >是
                </label>
            </div>
        </div>
	    <div class="form-item">
            <label class="item-label">排序<span class="check-tips">（数字越小越靠前，最小最好设置为0，默认为0）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$data['sort']|default=0}">
            </div>
        </div>
	    <div class="form-item">
            <label class="item-label">是否启用<span class="check-tips"></span></label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" value="0" name="status" <if condition="$data['status'] eq 0"> checked="checked"</if>>禁用
                </label>
                <label class="radio">
                    <input type="radio" value="1" name="status"  <if condition="$data['status'] eq 1">checked="checked" </if> >启用
                </label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">描述<span class="check-tips">（产品分类简单描述）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="description" value="{$data['description']}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">分类图片</label>
            <div class="controls">
                <input type="file" id="upload_picture">
                <input type="hidden" name="cover_id" id="cover_id" value="{$data['coverid']}"/>
                <div class="upload-img-box">
                <notempty name="data.coverid">
                    <div class="upload-pre-item"><img src="{$data.coverid|get_cover='path'}"/></div>
                </notempty>
                </div>
                <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
                <script type="text/javascript">
                //上传图片
                /* 初始化上传插件 */
                $("#upload_picture").uploadify({
                    "height"          : 30,
                    "swf"             : "__STATIC__/uploadify/uploadify.swf",
                    "fileObjName"     : "download",
                    "buttonText"      : "上传图片",
                    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                    "width"           : 120,
                    'removeTimeout'      : 1,
                    'fileTypeExts'      : '*.jpg; *.png; *.gif;',
                    "onUploadSuccess" : uploadPicture{$field.name},
                    'onFallback' : function() {
                        alert('未检测到兼容版本的Flash.');
                    }
                });
                function uploadPicture{$field.name}(file, data){
                    var data = $.parseJSON(data);
                    var src = '';
                    if(data.status){
                        $("#cover_id").val(data.id);
                        src = data.url || '__ROOT__' + data.path
                        $("#cover_id").parent().find('.upload-img-box').html(
                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                        );
                    } else {
                        swal({
                            type: "error",
                            title: "Oops...",
                            text: data.info,
                            timer: 2000
                        });
                        setTimeout(function(){
                            $(that).removeClass('disabled').prop('disabled',false);
                        },2000);
                    }
                }
                </script>
            </div>
        </div>
        <input type="hidden" name="id" value="{$data['id']}" />
        <input type="hidden" name="type" value="<if condition='$is_edit eq 1'>edit<else />add</if>" />
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Article/productcategory')}');
    </script>
</block>
