<extend name="Base/common"/>
<block name="content">
       <div><img src="__HS__/img/1.jpg" style="width:100%;" alt=""></div> 
<div class="xinrun">
      <div class="xinrun2">
            <div class="About_text">ABOUT SNBON</div>
            <div class="AboutSlot_english">COMPANY PROFLE</div>
      </div>
      <div class="below_la1 wd1024"></div>

      <div class="Company_Profile ">
            <div class="Company_Profile ">
                  <div class="Company_Profile ">
                              <div class="Company">
                                    <img src="__HS__/img/gydp.jpg" alt=""> 
                                          <div class="text-clal">
                                                <div class="jian_Ji">
                                                      Yongkang Snbon Industry Trade Company Ltd 
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;located in China Hardware Capital, yongkang city,
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zhejiang province, China. is amanufacture special of miter 
                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;saw and cut-off machine
                                                </div>
                                                </div>
                                          <div class="text-cla2">
                                          <div class="jian_Ji">
                                                So far the company area morn than 20, 000 square 
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meter, with more than 300 employees are working, 20 of 
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;them working in senior management, 20 of them working 
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in professional technician departmentOn the basis of
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; high standards and high quality, the company 
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;constantly improved..
                                          </div>
                                    </div>
                              </div>
                          </div>      <div style="clear:both;"></div>
                   </div>    
             </div>      
      </div>  
         


<div class="Main-Items">
     <div  class="mai-ite1"><img src="__HS__/img/介绍_04.png" alt=""></div>
</div>
         
          
</block> 