<extend name="Base/common"/>
<block name="content">
		<div class="map-area" style="padding: 0 40px;">
				<div id="googleMap">
				  <iframe style="width: 100%;height: 500px;" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes” src="https://map.baidu.com/poi/%E6%AD%A6%E4%B9%89%E5%BB%B7%E5%B1%95%E5%B7%A5%E8%B4%B8%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@13350762.572816093,3339017.89,20.95z?uid=3f429c173e686be5deee8b2e&info_merge=1&isBizPoi=false&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl")"></iframe>
				</div>
			  </div>
<div class="Background_color">	
	<div class="Contact_company">
		<div class="Contact_us">联系我们</div>
		<div class="Contact_us1">CONTACT US</div>
	</div>

         <!-- 分割线 -->
	<div class="Middle_line wd1024"></div>
<!-- 
	<div class="Whiteboard_block wd1024">
		<div class="Whiteboard_block1">
		    <div class="Head_Figure"><img src="__HS__/img/GS.jpg" alt=""></div>
			<div class="Picture_frame">
				<div class="Whiteboard_block2"><img src="__HS__/img/d定位-01.png" style="width:4%;" alt="">&nbsp;&nbsp;&nbsp;地址:浙江省金华市武义县桐琴镇桥工业区</div>
				<div class="Whiteboard_block2"><img src="__HS__/img/电话.png"style="width:4%;" alt="">&nbsp;&nbsp;&nbsp;全国服务热线: 13705892616</div>
				<div class="Whiteboard_block2"><img src="__HS__/img/QQ.png" style="width:4%;"alt="">&nbsp;&nbsp;&nbsp;邮箱:286476557@qq.com</div>
		    </div>
		</div>
	</div>
	 -->

	<div class="leavea_message"> 
		<div class="leavea_message1">给我们留言</div>
		<div class="leavea_message2">CET IN TOUCH WITH US</div>
	</div>

	<div class="inputt wd1024">
	    <form action="{:U('index/msg_submit')}" method="post" >
		    <div class="ppr">
			    <div class="Form_submission1">
					<input type="text" name="name_fx" placeholder="您的姓名"/>
					<input type="text" name="phone_fx" placeholder="您的电话">
			    </div>
			    <div style="clear:both;"></div>	
		    </div>	
	
			<div class="ppr1">
				<div class="Form_submission2">
					<input type="text" name="email_fx" placeholder="您的邮箱"/>
					<input type="text" name="address_fx" placeholder="您的地址"/>
			</div>
				<div style="clear:both;"></div>
				<div class="Form_submission3 wd1024">
				<input type="text" name="msg_fx" placeholder="您的留言"/>
			    </div>
			<div style="clear:both;"></div>
			<div class="Form_submission4">
				<input type="submit" name="usname" placeholder="提交信息" style="color:white"/>
			</div>
		</form>	
    </div>	
</div>


	<!-- 距离块 -->
	<div class="jul"></div>
   
</block>