<extend name="Base/common" />
<block name="content">
    <eq name="langs" value="zh">
        <div  class="slideshow" >
            <div class="slide"><img src="__HS__/img/236485298879146142.jpg"></div>
            <div class="slide"><img src="__HS__/img/158999172948270336.jpg"></div>
        </div>
        {$langs}
        <div class="kaif_F  wd1024">关于盛邦</div>
   <!-- 中间第二部分-->
   <div class="xinrun">
        <div class="Company_Profile ">
              <div class="Company">
                    <img src="__HS__/img/gydp.jpg" alt=""> 
                        <div class="text-clal">
                            <div class="jian_Ji">
                                公司创办于2008年，占地15000平方米，公司聚集高中级管理人员25<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人在推行全面质量管理的基础上，按IS09001标准建;立了完整的文化质量体<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系并通过认证，以此向用户提供可靠地质量保证。
                            </div>
                            </div>
                            <div class="text-cla2">
                            <div class="jian_Ji">
                                本公司以生产据铝机，钢材机为主，并拥有专业的模具开发人员及技<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;术人员，拥有车，铣，磨，电脉冲，数控车床，数控铣床，格式钻床和加工<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中心，拥有从主要配件到整机的一条龙自主生产能力，有效地控制产品质量<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;并降低了产品的成本，给客户性价比到位的产品，也拥有按照客户需求制造<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品能力。产品产销国内市场，出口多个国家和地区，欢迎各界朋友指导参<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;参观和业务洽谈！
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
              </div>
        </div>
  </div>

<!-- 第二部分 -->
<div class="ppp">
 <div class="syt_tr" style="background:url(__HS__/img/3.jpg) no-repeat;background-size:100%;background-color:#e4e4e4;"> 
    <div class="distance"></div>
        <div class="ku1">  
            <div class="jiui">
                <div class="image1">
                    <a href="{:U('Index/product_detail', array('id' => '32807'))}">
                    <div class="tutui-active">
                        <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                    </div>
                    <div class="Product-font">CB1201</div>
                    </a>
                </div>

                <div class="image1">
                    <a href="{:U('Index/product_detail', array('id' => '32808'))}">
                    <div class="tutui-active">
                        <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                    </div>
                    <div class="Product-font">CB1201</div>
                    </a>
                </div>

                <div class="image1">
                    <a href="{:U('Index/product_detail', array('id' => '32810'))}">
                    <div class="tutui-active">
                        <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                    </div>
                    <div class="Product-font">CB1201</div>
                    </a>
                </div>

                <div style="clear:both;"></div>
                        <div class="image1">
                            <a href="{:U('Index/product_detail', array('id' => '32812'))}">
                            <div class="tutui-active">
                                <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                            </div>
                            <div class="Product-font">CB1201</div>
                            </a>
                        </div>

                        <div class="image1">
                            <a href="{:U('Index/product_detail', array('id' => '32813'))}">
                            <div class="tutui-active">
                                <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                            </div>
                            <div class="Product-font">CB1201</div>
                            </a>
                        </div>

                        <div class="image1">
                            <a href="{:U('Index/product_detail', array('id' => '32816'))}">
                            <div class="tutui-active">
                                <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                            </div>
                            <div class="Product-font">CB1201</div>
                            </a>
                        </div>
                    <div style="clear:both;"></div>
                </div>
            </div> 
            </div> 
        </div>
        <a href="{:U('index/products')}"> <div class='kaif'>最新动态</div></a>
    </div>  <!-- </body>   -->
</div>

<!-- 第三块 -->

<div class="wujin wujin_WUJJ">
    <div class="wujin1">
        <div class="xiaode">
            <img src="__HS__/img/xw1.jpg" alt="">
            <a href="{:U('index/news_list')}">
            <div class="xiao_de">
                <div class="shij">五金工具行业全力开辟农村新市场</div>
                <div class="shi-j">在世界范围类，五金行业的消费于个性化，注重质量，价格合理等<br>
                更多选择，五金正从传统意义上的工具行业转向时尚行业。在今后<br>
                的发展中，五金工具产业还需要探寻新型出路比如打造乡村市场将<br>
                行业方向选择。五金工具开发极富潜力不失为一个明确的
            </div>
            <div class="button_two">点击查看</div>
            <div class="shi-J">2019-07-04</div>
        </div> 
        </a>
            <div style="clear:both;"></div> 
        </div>
    </div>
</div>



<div class="wujin">
        <div class="wujin1_W">
            <div class="xiaode">
                <img src="__HS__/img/xw2.jpg" alt="">
                <div class="xiao_DE">
                    <a href="{:U('index/news_list')}">
                    <div class="shij shij-bix">2019年我国电动车工具行业发展趋势分析</div>
                    <div class="shi-j">在世界范围类，五金行业的消费于个性化，注重质量，价格合理等<br>
                    更多选择，五金正从传统意义上的工具行业转向时尚行业。在今后<br>
                    的发展中，五金工具产业还需要探寻新型出路比如打造乡村市场将<br>
                    行业方向选择。五金工具开发极富潜力不失为一个明确的
                </div>
                <div class="button_two">点击查看</div>
                <div class="shi-J">2019-07-04</div>
                </a>
            </div> 
                <div style="clear:both;"></div> 
            </div>
        </div>
    </div>
    

<!-- 第四小部分 -->
<div class="More-boxes">
    <div class="More-boxes1">
            <a href="{:U('index/news_list')}" style="color:black;"><div class="More-boxes2">查看更多</div></a>
    </div>
</div>
</eq>











<!-- 英文 -->
<eq name="langs" value="en">
        <div  class="slideshow" >
            <div class="slide"><img src="__HS__/img/236485298879146142.jpg"></div>
            <div class="slide"><img src="__HS__/img/158999172948270336.jpg"></div>
        </div>
        
        <div class="kaif_F  wd1024">ABOUT SNBON</div>
   <!-- 中间第二部分-->
   <div class="xinrun">
        <div class="Company_Profile ">
              <div class="Company">
                    <img src="__HS__/img/gydp.jpg" alt=""> 
                        <div class="text-clal">
                            <div class="jian_Ji">
                                    Yongkang Snbon Industry Trade Company Ltd 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;located in China Hardware Capital, yongkang city,
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zhejiang province, China. is amanufacture special of miter 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;saw and cut-off machine
                            </div>
                            </div>
                            <div class="text-cla2">
                            <div class="jian_Ji">
                                    So far the company area morn than 20, 000 square 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;meter, with more than 300 employees are working, 20 of 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;them working in senior management, 20 of them working 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;in professional technician departmentOn the basis of
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; high standards and high quality, the company 
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;constantly improved..
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
              </div>
        </div>
  </div>

<!-- 第二部分 -->
<div class="ppp">
 <div class="syt_tr" style="background:url(__HS__/img/3.jpg) no-repeat;background-size:100%;background-color:#e4e4e4;"> 
    <div class="distance"></div>
        <div class="ku1">  
            <div class="jiui">
                <div class="image1">
                    <a href="{:U('Index/product_detail', array('id' => '32807'))}">
                    <div class="tutui-active">
                        <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                    </div>
                    <div class="Product-font">CB1201</div>
                    </a>
                </div>

                <div class="image1">
                    <a href="{:U('Index/product_detail', array('id' => '32808'))}">
                    <div class="tutui-active">
                        <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                    </div>
                    <div class="Product-font">CB1201</div>
                    </a>
                </div>

                <div class="image1">
                    <a href="{:U('Index/product_detail', array('id' => '32810'))}">
                    <div class="tutui-active">
                        <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                    </div>
                    <div class="Product-font">CB1201</div>
                    </a>
                </div>

                <div style="clear:both;"></div>
                        <div class="image1">
                            <a href="{:U('Index/product_detail', array('id' => '32812'))}">
                            <div class="tutui-active">
                                <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                            </div>
                            <div class="Product-font">CB1201</div>
                            </a>
                        </div>

                        <div class="image1">
                            <a href="{:U('Index/product_detail', array('id' => '32813'))}">
                            <div class="tutui-active">
                                <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                            </div>
                            <div class="Product-font">CB1201</div>
                            </a>
                        </div>

                        <div class="image1">
                            <a href="{:U('Index/product_detail', array('id' => '32816'))}">
                            <div class="tutui-active">
                                <div class="tu1" ><img src="__HS__/img/cp.jpg" alt=""></div>
                            </div>
                            <div class="Product-font">CB1201</div>
                            </a>
                        </div>
                    <div style="clear:both;"></div>
                </div>
            </div> 
            </div> 
        </div>
        <a href="{:U('index/products')}"> <div class='kaif'>News information</div></a>
    </div>  <!-- </body>   -->
</div>

<!-- 第三块 -->

<div class="wujin wujin_WUJJ">
    <div class="wujin1_en">
        <div class="xiaode">
            <img src="__HS__/img/xw1.jpg" alt="">
            <a href="{:U('index/news_list')}">
            <div class="xiao_de-en">
                <div class="shij_en">Hardware Tool Industry Makes ...</div>
                <div class="shi-j-en">
                        In the world, the consumption of hardware industry is more individualized, focusing on quality, reasonable price and other choices. Hardware industry is changing from the traditional sense of tool industry to fashion industry.
                </div>
            <div class="button_two">Click View</div>
            <div class="shi-J">2019-07-04</div>
        </div> 
        </a>
            <div style="clear:both;"></div> 
        </div>
    </div>
</div>



<div class="wujin">
        <div class="wujin1_W">
            <div class="xiaode">
                <img src="__HS__/img/xw2.jpg" alt="">
                <div class="xiao_DE">
                    <a href="{:U('index/news_list')}">
                    <div class="shij shij-bix">Development Trend Analysis of ...</div>
                    <div class="shi-j-enn">t present, more than 85% of the electric tools used in the world are produced in China. Many parts and components of the electric tools produced abroad are also ...
                </div>
                <div class="button_two">Click View</div>
                <div class="shi-J">2019-07-04</div>
                </a>
            </div> 
                <div style="clear:both;"></div> 
            </div>
        </div>
    </div>
    

<!-- 第四小部分 -->
<div class="More-boxes">
    <div class="More-boxes1">
            <a href="{:U('index/news_list')}" style="color:black;"><div class="More-boxes2">Learn more</div></a>
    </div>
</div>
</eq>
<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="js/imagesloaded.js"></script>
<script src="js/smartresize.js"></script>
<script src="src/jquery.skidder.js"></script>
<script type="text/javascript">
	$('.slideshow').each( function() {
		  var $slideshow = $(this);
		  $slideshow.imagesLoaded( function() {
			$slideshow.skidder({
			  slideClass    : '.slide',
			  animationType : 'css',
			  scaleSlides   : true,
			  maxWidth : 1600,
			  maxHeight: 650,
			  paging        : true,
			  autoPaging    : true,
			  pagingWrapper : ".skidder-pager",
			  pagingElement : ".skidder-pager-dot",
			  swiping       : true,
			  leftaligned   : false,
			  cycle         : true,
			  jumpback      : false,
			  speed         : 400,
			  autoplay      : false,
			  autoplayResume: false,
			  interval      : 4000,
			  transition    : "slide",
			  afterSliding  : function() {},
			  afterInit     : function() {}
			});
		  });
	});
	
	$(window).smartresize(function(){
		  $('.slideshow').skidder('resize');
	});
</script>
</block>
