<extend name="Base/common" />
<block name="content">
     <div>
        <img src="__HS__\img\1.jpg"style="display:block;" width="100%;"alt="">
    </div>
<!-- 第二块 -->
    <div class="paodu">
        <div class="paoduy">Product details</div>
        <div class="paoduyy">PRODUCT DETAIL</div>
    </div>
    <div class="product-detail"> 
        <eq name="langs" value="zh">  
        <div class="product-title">{$pro.title}</div>
        <div class="product-content">{$pro.content}</div>
        </eq>
        <eq name="langs" value="en">  
            <div class="product-title">{$pro.en_title}</div>
            <div class="product-content">{$pro.en_content}</div>
        </eq>
    </div>
</block>