<extend name="Base/common" />
<block name="content">
       <!-- 大图 -->
        <div>
           <img src="__HS__\img\1.jpg"style="display:block;" width="100%;"alt="">
       </div>
<div class="zy wd1024"">
   <div class="video wd1024"">
       <div class="sp">视频详情</div>
       <div class="sp_SP">VIDEO DETAILS</div>
   </div>
   <div class="h_r wd1024"></div>

<div class="ku11 wd1024"">
    <div class="video_im ">
        <video controls="controls" autoplay="autoplay ">
            <source src="{$news_detail.video_link}" type="video/mp4" />
        </video>
    </div>
</div>                

</block>